@font-face {
  font-family: "Euclid";
  src: url("../fonts/EuclidFlex-Regular-WebS.woff2") format("woff2"), url("../fonts/EuclidFlex-Regular-WebS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Euclid";
  src: url("../fonts/EuclidFlex-Medium-WebS.woff2") format("woff2"), url("../fonts/EuclidFlex-Medium-WebS.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: "Euclid", sans-serif;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

button {
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

a.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Home.out .bg_container, #Home.out .home__text_container, #Home.out .home__particles_container {
  opacity: 0;
}

.bg_container, .home__text_container, .home__particles_container {
  transition: opacity 1000ms linear;
}

.home__particles_container, .home__circles_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home__circles_container {
  z-index: 1;
  pointer-events: none;
}
.home__title {
  font-size: 48px;
  margin: 0;
}
.home__text_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}
.home__tagline {
  margin-top: 10px;
}
.home__btn_begin {
  margin-top: 20px;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  font-size: 24px;
  background: #0a7058;
  color: #ffffff;
  padding: 5px 15px;
  transition: all ease-in-out 0.5s;
}
.home__btn_begin:hover {
  background-color: #16dcab;
  color: #0a7058;
}
.home__btn_intro {
  margin-top: 40px;
  font-size: 20px;
  color: #16dcab;
}

.intro__modal_container {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.intro__modal_container.active {
  display: flex;
}
.intro__modal {
  position: relative;
  width: 80% !important;
  height: auto !important;
}
.intro__modal_close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  font-size: 24px;
  border: 0;
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.intro__canvas {
  background-color: #29f391;
  width: 100% !important;
  height: auto !important;
}
.intro__overlay_container {
  pointer-events: none;
  overflow: hidden;
  width: 800px;
  height: 600px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
}

#Barcode.out .barcode__viewport {
  opacity: 0;
}
#Barcode.out .barcode__success_container {
  opacity: 1;
  transform: scale(1);
}
#Barcode.out.done .barcode__success_container {
  opacity: 0;
  transform: scale(0);
}
#Barcode.out.done .barcode__title {
  opacity: 0;
}

.barcode__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.barcode__title {
  font-style: italic;
  transition: opacity 500ms linear;
}
.barcode__success_container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 500ms linear;
  opacity: 0;
}
.barcode__success_icon {
  background-color: #16dcab;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barcode__success_image {
  width: 40px;
  height: auto;
}
.barcode__viewport_container {
  width: 640px;
  height: 480px;
  position: relative;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.barcode__viewport {
  transition: opacity 500ms linear;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.barcode__viewport canvas, .barcode__viewport video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.barcode__viewport canvas {
  z-index: 1;
}

.content-wrapper {
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dg .title {
  font-size: initial;
  margin: 0;
}

.select-instance,
.collectives__register_button {
  color: white;
  background-color: #2b936b;
  border-radius: 8px;
  border: 0;
  padding: 10px 20px;
  transition: all 250ms linear;
  min-width: 150px;
  font-size: 18px;
  cursor: pointer;
}
.select-instance:hover, .select-instance:active, .select-instance:focus,
.collectives__register_button:hover,
.collectives__register_button:active,
.collectives__register_button:focus {
  color: #0a7058;
  background-color: #16dcab;
}

.prompt {
  font-size: 14px;
  font-style: italic;
  white-space: nowrap;
  color: #b3b3b3;
}

.content-wrapper.active {
  opacity: 1;
}

.arrows__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.arrow {
  display: inline-block;
  opacity: 0;
  transition: opacity 2s;
  z-index: 20;
  cursor: pointer;
  color: white;
}
.arrow svg {
  transition: transform 500ms ease-out;
}
.arrow line {
  transition: stroke 250ms linear;
}
.arrow:hover svg {
  transform: scale(1.1);
}
.arrow:hover line {
  stroke: #16dcab;
}
.arrow.left {
  transform: rotate(180deg);
}
.arrow svg {
  width: 20px;
}

.arrow.active {
  opacity: 1;
}

.component {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0.8em;
}

.cn-wrapper {
  width: 50em;
  height: 50em;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /*  transform: scale(0.1) translate(-50%,-50%);*/
  pointer-events: none;
  transition: transform 1000ms cubic-bezier(0.77, 0, 0.175, 1);
  transform-origin: center;
}

.cn-wrapper.opened-nav {
  border-radius: 50%;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}

.cn-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 2;
}

.cn-overlay.on-overlay {
  visibility: visible;
  opacity: 1;
}

.cn-button {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  height: 3.5em;
  width: 3.5em;
  background-color: black;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 11;
  transition: 0.3s width, 0.3s height;
  transition-delay: 0.2s;
}

.cn-button.active {
  width: 25em;
  height: 25em;
  transition-delay: 1s;
}

.cn-button.active .content-wrapper {
  display: block;
}

.cn-button.active span {
  opacity: 0;
}

.flower {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(80deg);
  transform-origin: bottom center;
  width: 100%;
  height: 100%;
}

.cn-wrapper li {
  position: absolute;
  font-size: 1.5em;
  width: 15em;
  height: 15em;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: 1.75em;
  margin-left: -15em;
  transition: border 0.3s ease transform 0.3s;
}

.cn-wrapper li a {
  display: block;
  font-size: 1.18em;
  height: 25em;
  width: 20em;
  position: absolute;
  bottom: -12.5em;
  right: -10em;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  padding-top: 10px;
  text-align: center;
  transform: skew(-50deg) rotate(-70deg) scale(1) translate(60%);
  transition: opacity 0.3s, color 0.3s, height 1s, transform 1s linear;
}

.opened-nav li a {
  transform: skew(-50deg) rotate(-70deg) scale(1) translate(0%);
  transition: all 250ms linear;
}

.cn-wrapper li a span {
  font-size: 16px;
  opacity: 0.7;
  display: inline-block;
  width: 30%;
}

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */
.cn-wrapper li:first-child {
  transform: rotate(-10deg) skew(50deg);
  transition-delay: 0s;
}

.cn-wrapper li:nth-child(2) {
  transform: rotate(30deg) skew(50deg);
}

.cn-wrapper li:nth-child(3) {
  transform: rotate(70deg) skew(50deg);
}

.cn-wrapper li:nth-child(4) {
  transform: rotate(110deg) skew(50deg);
}

.cn-wrapper li:nth-child(5) {
  transform: rotate(150deg) skew(50deg);
}

.cn-wrapper li:nth-child(6) {
  transform: rotate(190deg) skew(50deg);
}

.cn-wrapper li:nth-child(7) {
  transform: rotate(230deg) skew(50deg);
}

.cn-wrapper li:nth-child(8) {
  transform: rotate(270deg) skew(50deg);
}

.cn-wrapper li:nth-child(9) {
  transform: rotate(310deg) skew(50deg);
}

.cn-wrapper li:nth-child(3n+1) a {
  background-color: #30a277;
}

.cn-wrapper li:nth-child(3n) a {
  background-color: #5bc096;
}

.cn-wrapper li:nth-child(3n+2) a {
  background-color: #2b936b;
}

/* active style */
.cn-wrapper li.active a {
  background-color: #d5ece3;
  color: #2b936b;
}

/* hover style */
.cn-wrapper li:not(.active) a:hover,
.cn-wrapper li:not(.active) a:active,
.cn-wrapper li:not(.active) a:focus {
  background-color: #0a7058;
  color: #16dcab;
}

.cls-1 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 50px;
}

.collectives__styles_outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  flex-direction: column;
  z-index: 20;
  transition: all 500ms ease-in-out;
}
.collectives__styles_container {
  width: 330px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.collectives__style_container {
  position: relative;
  margin-top: 5px;
}
.collectives__style_image {
  width: 100px;
  height: 100px;
}
.collectives__image_anchor {
  display: block;
  border: 5px solid transparent;
  display: flex;
  transition: border-color 250ms ease-out;
}
.collectives__image_anchor.active {
  border-color: #16dcab;
}
.collectives__status_text {
  font-size: 24px;
}
.collectives__register_button {
  margin-top: 20px;
}

.collectives__petal_content_container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms linear;
  transition-delay: 1500ms;
}
.collectives__petal_image {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: -1;
}

.opened-nav .collectives__petal_content_container {
  opacity: 1;
}

.register__body_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register__body_container.loaded .register__spinner_dot--1 {
  animation: anim__loader--cam1 2s forwards;
}
.register__body_container.loaded .register__spinner_dot--2 {
  animation: anim__loader--cam2 2s forwards;
}
.register__body_container.loaded .register__spinner_cam_base {
  opacity: 1;
}
.register__body_container.camera .register__input_inner {
  display: flex;
}
.register__body_container.camera .register__photo_button {
  display: flex;
}
.register__body_container.stylized .register__output_container {
  display: flex;
}
.register__body_container.stylized .register__input_container {
  display: flex;
}
.register__body_container.stylized .register__reverse_image {
  transform: scale(2);
  visibility: visible;
}
.register__body_container.loaded.camera .register__spinner_cam_base {
  opacity: 0;
}
.register__body_container.loaded.camera .register__spinner_container {
  transform: scale(0);
}
.register__body_container.loaded.camera .register__input_container {
  display: flex;
}
.register__body_container.outro .register__output_container {
  opacity: 0;
}
.register__body_container.outro .register__status_text_container {
  opacity: 0;
}
.register__body_container.outro .images_container {
  display: none;
}
.register__body_container.outro .register__print_container {
  display: none !important;
  opacity: 0;
}
.register__body_container.processing .process__button {
  width: 50px;
  animation: anim__process 2s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.register__status_text_container {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  transition: opacity 1000ms linear;
}
.register__status_text {
  color: #16dcab;
  font-size: 24px;
}
.register__status {
  color: white;
}
.register__loader_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.register__webcam_icon {
  width: 100px;
}
.register__webcam_icon path {
  fill: white;
}
.register__webcam_link {
  background-color: transparent;
}
.register__input_container, .register__output_container {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 1000ms linear;
}
.register__styles_outer {
  position: absolute;
  top: 700px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.register__styles_container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.register__style_container {
  position: relative;
  margin-top: 5px;
}
.register__style_image {
  width: 100px;
  height: 100px;
}
.register__reverse_image {
  transition: transform 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.register__print_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.register__spinner_cam_base_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.register__spinner_cam_base {
  opacity: 0;
  transition: opacity 250ms linear;
  position: absolute;
  bottom: 0;
  transform: translateY(22px);
}
.register__spinner_cam_base path {
  fill: #16dcab;
}
.register__spinner {
  width: 40px;
  height: 40px;
  position: relative;
}
.register__spinner_container {
  width: 80px;
  height: 80px;
  background-color: #16dcab;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 750ms cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 250ms;
}
.register__spinner_dot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  animation: anim__bounce 2s infinite ease-in-out;
}
.register__spinner_dot--2 {
  animation-delay: -1s;
}
.register__input_inner {
  justify-content: center;
}
.register__image_anchor {
  display: block;
  border: 5px solid transparent;
  display: flex;
  transition: border-color 250ms ease-out;
}
.register__image_anchor.active {
  border-color: #16dcab;
}
.register__photo_button, .register__print_button {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  font-size: 24px;
  background: #0a7058;
  color: #ffffff;
  padding: 5px 15px;
  transition: all ease-in-out 0.5s;
  justify-content: center;
}
.register__photo_button:hover, .register__print_button:hover {
  background-color: #16dcab;
  color: #0a7058;
}
.register__photo_button--realtime {
  display: flex;
}
.register__output_container {
  justify-content: center;
  opacity: 0;
}
.register__output_container.active {
  opacity: 1;
}
.style-button {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  font-size: 24px;
  background: #0a7058;
  color: #ffffff;
  padding: 5px 15px;
  transition: all ease-in-out 0.5s;
  justify-content: center;
}
.style-button:hover {
  background-color: #16dcab;
  color: #0a7058;
}

/* NEW STUFF */
.centered {
  margin: auto;
  display: block;
}

#snap-button {
  margin-top: 50px;
  height: 40px;
  display: none;
  /* MH temp */
}

#style-button[disabled] {
  background-color: red;
  /*display: none !important;*/
}

.images_container {
  transition: 500ms opacity linear;
}

.content_container,
.style_container,
.output_container,
.start_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.output_container {
  z-index: 1;
}

.content_container {
  visibility: hidden;
}

.start_container {
  z-index: 2;
}

.select-image {
  text-align: center;
}

.register__print_button {
  visibility: hidden;
}

.register__print_container {
  display: none;
}

.register__body_container.stylized .register__print_container {
  display: flex;
}

.tab-pane {
  position: relative;
  width: 536px;
  height: 400px;
}

@keyframes anim__bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes anim__process {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}
@keyframes anim__loader--cam1 {
  50% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}
@keyframes anim__loader--cam2 {
  5% {
    background-color: #16dcab;
    transform: scale(0.5);
  }
  30% {
    transform: scale(0.5);
  }
  40% {
    transform: scale(0.5) translate(0, 15px);
  }
  60% {
    transform: scale(0.5) translate(15px, 2px);
  }
  70% {
    transform: scale(0.5) translate(15px, 0px);
  }
  85% {
    transform: scale(0.5) translate(-15px, 1px);
  }
  90% {
    transform: scale(0.5) translate(0, 0);
  }
  95% {
    transform: scale(0.65) translate(0, 0);
  }
  100% {
    transform: scale(0.5) translate(0, 0);
    background-color: #16dcab;
  }
}
.wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.metaball-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 500ms linear;
}
.metaball-canvas.inactive {
  opacity: 0;
}

.engage__text_container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}
.engage__tagline {
  margin-top: 10px;
  transition: opacity 500ms linear;
}
.engage__tagline.inactive {
  opacity: 0;
}
.engage__title {
  font-size: 48px;
  margin: 0;
  transition: all ease-in-out 500ms;
}
.engage__title.inactive {
  transform: translateY(-20px);
  opacity: 0;
}

.bc__container {
  display: flex;
  position: absolute;
  top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 10;
}
.bc__steps_container {
  display: flex;
  border: 1px solid white;
  height: 50px;
  border-radius: 25px;
  align-items: center;
  padding: 10px 20px;
}
.bc__item {
  margin-left: 10px;
  color: white;
  transition: color 250ms linear;
}
.bc__item:first-child {
  margin-left: 0;
}
.bc__item.active {
  color: #16dcab;
}
.bc__item.inactive {
  color: #9999;
}
.bc__item[href]:hover {
  color: #96f5dd;
}

.idle__modal_container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  justify-content: center;
  align-items: center;
}
.idle__modal_container.active {
  display: flex;
}
.idle__modal {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 1px solid #16dcab;
  border-radius: 20px;
}
.idle__modal_content {
  text-align: center;
}
.idle__modal_message {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 50px;
}
.idle__modal_button {
  color: white;
  background-color: #16dcab;
  border-radius: 8px;
  padding: 10px 20px;
  min-width: 150px;
  font-size: 18px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
