#Barcode {
  &.out {
    .barcode__viewport {
      opacity: 0;
    }
    .barcode__success_container {
      opacity: 1;
      transform: scale(1);
    }
  }
  &.out.done {
    .barcode__success_container {
      opacity: 0;
      transform: scale(0);
    }
    .barcode__title {
      opacity: 0;
    }
  }
  
}


.barcode {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__title {
    font-style: italic;
    transition: opacity 500ms linear;
  }
  &__success_container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform 500ms $t__in_out_back, opacity 500ms linear;
    opacity: 0;
  }
  &__success_icon {
    background-color: $c--primary;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__success_image {
    width: 40px;
    height: auto;
  }
  &__viewport_container {
    width: 640px;
    height: 480px;
    position: relative;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
  }
  &__viewport {
    transition: opacity 500ms linear;
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;

    canvas, video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    canvas {
      z-index: 1;
    }

  }
}