.content-wrapper {
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

.title {
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.select-instance, .collectives__register_button {
  color: white;
  background-color: #2b936b;
  border-radius: 8px;
  border: 0;
  padding: 10px 20px;
  transition: all 250ms linear;
  min-width: 150px;
  font-size: 18px;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    color: $c__primary--dark;
    background-color: $c__primary;
  }
}

.prompt {
  font-size: 14px;
  font-style: italic;
  white-space: nowrap;
  color: darken(white,30%);
}

.content-wrapper.active {
  opacity: 1;
}

.arrows__container {
  display: flex;
  justify-content: space-between;
}

.arrow {
  display: inline-block;
  opacity: 0;
  transition: opacity 2s;
  z-index: 20;
  cursor: pointer;
  color: white;
  svg {
    transition: transform 500ms ease-out;
  }
  line {
    transition: stroke 250ms linear;
  }
  &:hover {
    svg {
      transform: scale(1.1);
    }
    line {
      stroke: $c__primary;
    }
  }
}

.arrow.active {
  opacity: 1;
}

.component {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cn-wrapper {
  font-size: 1em;
  width: 50em;
  height: 50em;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /*  transform: scale(0.1) translate(-50%,-50%);*/
  pointer-events: none;
  transition: transform 1000ms $t__in_out_quart;
  transform-origin: center;
}

.cn-wrapper.opened-nav {
  border-radius: 50%;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}

.cn-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 2;
}

.cn-overlay.on-overlay {
  visibility: visible;
  opacity: 1;
}

.cn-button {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  height: 3.5em;
  width: 3.5em;
  background-color: black;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 11;
  transition: 0.3s width, 0.3s height;
  transition-delay: 0.2s;
}

.cn-button.active {
  width: 25em;
  height: 25em;
  transition-delay: 1s;
}

.cn-button.active .content-wrapper {
  display: block;
}

.cn-button.active span {
  opacity: 0;
}

.flower {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(80deg); //dont ask...
  transform-origin: bottom center;
  width: 100%;
  height: 100%;
}

.cn-wrapper li {
  position: absolute;
  font-size: 1.5em;
  width: 15em;
  height: 15em;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: 1.75em;
  margin-left: -15em;
  transition: border 0.3s ease transform 0.3s;
}

.cn-wrapper li a {
  display: block;
  font-size: 1.18em;
  height: 25em;
  width: 20em;
  position: absolute;
  bottom: -12.5em;
  right: -10em;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  padding-top: 10px;
  text-align: center;
  transform: skew(-50deg) rotate(-70deg) scale(1) translate(60%);
  transition: opacity 0.3s, color 0.3s, height 1s, transform 1s linear;

}

.opened-nav li a {
  transform: skew(-50deg) rotate(-70deg) scale(1) translate(0%);
  transition: all 250ms linear;
}

.cn-wrapper li a span {
  font-size: 16px;
  opacity: 0.7;
  display: inline-block;
  width: 30%;
}

/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

.cn-wrapper li:first-child {
  transform: rotate(-10deg) skew(50deg);
  transition-delay: 0s;
}

.cn-wrapper li:nth-child(2) {
  transform: rotate(30deg) skew(50deg);
}

.cn-wrapper li:nth-child(3) {
  transform: rotate(70deg) skew(50deg);
}

.cn-wrapper li:nth-child(4) {
  transform: rotate(110deg) skew(50deg);
}

.cn-wrapper li:nth-child(5) {
  transform: rotate(150deg) skew(50deg);
}

.cn-wrapper li:nth-child(6) {
  transform: rotate(190deg) skew(50deg);
}

.cn-wrapper li:nth-child(7) {
  transform: rotate(230deg) skew(50deg);
}

.cn-wrapper li:nth-child(8) {
  transform: rotate(270deg) skew(50deg);
}

.cn-wrapper li:nth-child(9) {
  transform: rotate(310deg) skew(50deg);
}

.cn-wrapper li:nth-child(3n + 1) a {
  background-color: #30a277;
}

.cn-wrapper li:nth-child(3n) a {
  background-color: #5bc096;
}

.cn-wrapper li:nth-child(3n + 2) a {
  background-color: #2b936b;
}

/* active style */
.cn-wrapper li.active a {
  background-color: #d5ece3;
  color: #2b936b;
}

/* hover style */
.cn-wrapper li:not(.active) a:hover,
.cn-wrapper li:not(.active) a:active,
.cn-wrapper li:not(.active) a:focus {
  background-color: $c__primary--dark;
  color: $c__primary;
}

.arrows__container {
  width: 75%;
  margin: 0 auto;
}

.arrow {
  &.left {
    transform: rotate(180deg);
  }
  svg {
    width: 40px;
  }
}

.cls-1 {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 50px;
}

.collectives {
  &__styles_outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    z-index: 20;
    transition: all 500ms ease-in-out;
  }
  &__styles_container {
    width: 330px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  &__style_container {
    position: relative;
    margin-top: 5px;
  }
  &__style_image {
    width: 100px;
    height: 100px;
  }
  &__image_anchor {
    display: block;
    border: 5px solid transparent;
    display: flex;
    transition: border-color 250ms ease-out;
    &.active {
      border-color: $c__primary;
    }
  }
  &__status_text {
    font-size: 24px;
  }
  &__register_button {
    margin-top: 20px;
  }
}

.collectives {
  &__petal_content_container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 500ms linear;
    transition-delay: 1500ms;
  }
  &__petal_image {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: -1;
  }
}

.opened-nav {
  .collectives__petal_content_container {
    opacity: 1;
  }
}