.register {
  &__body_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    &.loaded {
      .register__spinner_dot--1 {
        animation: anim__loader--cam1 2s forwards;
      }
      .register__spinner_dot--2 {
        animation: anim__loader--cam2 2s forwards;
      }
      .register__spinner_cam_base {
        opacity: 1;
      }
    }
    &.camera {
      .register__input_inner {
        display: flex;
      }
      .register__output_container {
        display: none;
      }
      .register__photo_button {
        display: flex;
      }
    }
    &.stylized {
      .register__output_container {
        display: flex;
      }
      .register__input_container {
        display: none;
      }
      .register__styles_outer {
        display: flex;
      }
      .register__reverse_image {
        transform: translateY(-75px) scale(0.75);
      }
      .register__print_button {
        display: flex;
      }
      .register__loader_container {
        display: none;
      }
    }
    &.loaded.camera {
      .register__spinner_cam_base {
        opacity: 0;
      }
      .register__spinner_container {
        transform: scale(0);
      }

      .register__input_container {
        display: flex;
      }
    }
    &.outro {
      .register__output_container {
        opacity: 0;
      }
      .register__loader_container {
        display: none;
      }
      .register__status_text_container {
        opacity: 0;
      }
    }
    &.processing {
      .process__button {
        width: 50px;
        animation: anim__process 2s infinite $t__in_out_back;
        span {
          display: none;
        }
      }
    }
  }
  &__status_text_container {
    text-align: center;
    padding-top: 100px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: opacity 1000ms linear;
  }
  &__status_text {
    color: $c__primary;
    font-size: 24px;
  }
  &__status {
    color: white;
  }
  &__loader_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__webcam_icon {
    width: 100px;
    path {
      fill: white;
    }
  }
  &__webcam_link {
    background-color: transparent;
  }
  &__input_container,
  &__output_container {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 1000ms linear;
  }
  &__styles_outer {
    position: absolute;
    top: 700px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
  }
  &__styles_container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__style_container {
    position: relative;
    margin-top: 5px;
  }
  &__style_image {
    width: 100px;
    height: 100px;
  }
  &__reverse_image {
    transition: transform 500ms $t__in_out_quart;
  }
  &__print_container {
    position: absolute;
    left: 0;
    top: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__spinner_cam_base_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__spinner_cam_base {
    opacity: 0;
    transition: opacity 250ms linear;
    position: absolute;
    bottom: 0;
    transform: translateY(22px);
    & path {
      fill: $c__primary;
    }
  }
  &__spinner {
    width: 40px;
    height: 40px;
    position: relative;
  }
  &__spinner_container {
    width: 80px;
    height: 80px;
    background-color: $c__primary;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 750ms $t__in_out_quart;
    transition-delay: 250ms;
  }
  &__spinner_dot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(white, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    animation: anim__bounce 2s infinite ease-in-out;
  }
  &__spinner_dot--2 {
    animation-delay: -1s;
  }
  &__input_inner {
    display: none;
    justify-content: center;
  }
  &__image_anchor {
    display: block;
    border: 5px solid transparent;
    display: flex;
    transition: border-color 250ms ease-out;
    &.active {
      border-color: $c__primary;
    }
  }
  &__photo_button,
  &__print_button {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    font-size: 24px;
    background: $c__primary--dark;
    color: #ffffff;
    padding: 5px 15px;
    transition: all ease-in-out 0.5s;
    justify-content: center;
    display: none;
    &:hover {
      background-color: $c__primary;
      color: $c__primary--dark;
    }
  }
  &__output_container {
    display: none;
    justify-content: center;
  }
  &__reverse_image {
    transform: scaleX(-1);
  }
}

@keyframes anim__bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@keyframes anim__process {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

@keyframes anim__loader--cam1 {
  50% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}

@keyframes anim__loader--cam2 {
  5% {
    background-color: $c__primary;
    transform: scale(0.5);
  }

  30% {
    transform: scale(0.5);
  }

  40% {
    transform: scale(0.5) translate(0, 15px);
  }

  60% {
    transform: scale(0.5) translate(15px, 2px);
  }

  70% {
    transform: scale(0.5) translate(15px, 0px);
  }

  85% {
    transform: scale(0.5) translate(-15px, 1px);
  }

  90% {
    transform: scale(0.5) translate(0, 0);
  }

  95% {
    transform: scale(0.65) translate(0, 0);
  }

  100% {
    transform: scale(0.5) translate(0, 0);
    background-color: $c__primary;
  }
}
